body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
}

.gallery-grid img, .gallery-grid video {
    width: 120px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery-grid img:hover, .gallery-grid video:hover {
    transform: scale(1.1);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.lightbox img, .lightbox video {
    max-width: 80%;
    max-height: 80%;
}

#close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
